.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(2);
}
.navbar{
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10;
}
